.buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.buttons button {
  width: 180px;
  font-size: 20px;
  border: solid blue;
}
