.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  padding: 3px;
  border: solid;
  border-radius: 5px;
}

.row div {
  width: 100px;
  text-align: center;
}
